<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <div style="margin: 0 auto; width: 1200px;">
        <div
            style="display: flex; justify-content: space-between; align-items: center; background-color: whitesmoke; margin-top: -7px; padding: 12px 50px 10px 50px;">
            <div style="display: flex;">
                <label for=""><b>My Store:</b></label>
                <select name="" id="" style="color: #6d6d6d; border: none; background-color: whitesmoke;">
                    <option value="">Select Your Store</option>
                </select>
            </div>
            <div style="display: flex; align-items: center; color: #6d6d6d; font-size: 14px;">
                <span style="display: flex; align-items: center; cursor: pointer;">
                    <img src="/img/myaccount.svg" style="width: 25px; height: 25px;" />
                    Sign In
                </span>
                <span style="display: flex; align-items: center; padding-left: 30px;cursor: pointer;">
                    <img src="/img/wishlist_unfilled.svg" alt="" style="width: 25px; height: 25px;">
                    Wish List
                </span>
                <span style=" padding-left: 30px;cursor: pointer;">
                    <a href="/cart.html"
                        style="color: inherit; text-decoration: none; display: flex; align-items: center;">
                        <img src="/img/cart-icon.svg" alt="" style="width: 25px; height: 25px;">
                        Cart</a>
                </span>
            </div>
        </div>

        <div style="display: flex;justify-content: space-between; align-items: center; margin: 20px 60px 10px 50px;">
            <img src="/img/logo.png" alt="" style="cursor: pointer;">
            <div id="dis" style="border: 1px solid whitesmoke;">
                <input type="text" id="discover" placeholder="Discover Something..."
                    style="padding: 8px 20px 8px 20px;">
                <img src="/img/search-icon.svg" alt="">
            </div>
        </div>

        <div style="display: flex;justify-content: space-between; align-items: center; margin: 20px 60px 10px 50px;">
            <p style="cursor: pointer;">Furniture</p>
            <p style="cursor: pointer;">Outdoor</p>
            <p style="cursor: pointer;">Rugs</p>
            <p style="cursor: pointer;">Decor & Lighting</p>
            <p style="cursor: pointer;">Bed & Bath</p>
            <p style="cursor: pointer;">Kitchen & Dinnerware</p>
            <p style="cursor: pointer;">Food & Drink</p>
            <p style="cursor: pointer;">Jewelry & Clothing</p>
            <p style="cursor: pointer;">Gifts</p>
            <p style="cursor: pointer;">Holidays</p>
            <p style="cursor: pointer;">Sale</p>
            <p style="cursor: pointer;"><a href="/inspiration.html"
                    style="color: black; text-decoration: none;">Inspiration</a></p>
        </div>

        <div style="background-color: whitesmoke; text-align: center; padding: 5px;">
            <span><b>Members Save 15% On Curbside Pick-Up Orders</b></span>
            <div style="display: flex; justify-content: center;">
                <a href="#" style="color: teal;">Join Now</a>
                <a href="#" style="color: teal; margin-left: 20px;">Details</a>
            </div>
        </div>

        {{{body}}}

        <div
            style="background-color: whitesmoke; text-align: center; margin-top: 80px; padding: 30px 0 30px 0; display: flex; justify-content: center; align-items: center; border-top: 1px solid gray;">
            <h3>Need Help?</h3>
            <div style="margin-left: 20px;">
                <img src="/img/phone-footer.svg" alt="">
                <p style="color: teal;">Call Us</p>
            </div>
            <div style="margin-left: 20px;">
                <img src="/img/email-footer.svg" alt="">
                <p style="color: teal;">Email Us</p>
            </div>
            <div style="margin-left: 20px;">
                <img src="/img/pin-footer.svg" alt="">
                <p style="color: teal;">Visit Us</p>
            </div>

        </div>

        <div
            style="margin-bottom: 100px; display: flex; flex-wrap: wrap; justify-content: space-between; padding-right: 50px;">
            <ul style="list-style: none; font-size:14px; line-height:25px;">
                <h4>About World Market</h4>
                <li>Who We Are</li>
                <li>Careers</li>
                <li>Site Map</li>
                <li>Safety, Security, Privacy</li>
                <li>Terms And Conditions</li>
                <li>#WorldMarket</li>
                <li>Store Events</li>
            </ul>
            <ul style="list-style: none; font-size:14px; line-height:25px;">
                <h4>Customer Service</h4>
                <li>In-Store Safety</li>
                <li>Track My Order</li>
                <li>Returns & Exchanges</li>
                <li>Shipping & Delivery</li>
                <li>Payment</li>
                <li>Contact Us</li>
                <li>Product Recalls</li>
                <li>Gift Card Balance</li>
                <li>Buy Online. Free Pickup Curbside.</li>
            </ul>
            <ul style="list-style: none; font-size:14px; line-height:25px;">
                <h4>Ways To Save</h4>
                <li>World Market Rewards</li>
                <li>Designer Discount</li>
                <li>World Market Coupons</li>
                <li>Always A Deal</li>
                <li>Everyday Hero Discount</li>
                <h4>Contact Us</h4>
                <li>1-877-967-5362</li>
                <li>Email Us</li>
            </ul>
            <ul style="list-style: none; font-size:14px; line-height:25px;">
                <h4>Get 15% Off Your Purchase</h4>
                <li>Join World Market Rewards for</li>
                <li>exclusive coupons & perks.</li>
                <hr>
            </ul>
        </div>

    </div>

</body>

</html>