<div style="text-align: center; padding-bottom: 40px;">
    <h4 style="font-size: 30px;">Shopping Cart</h4>
    <p style="font-size: 20px;">Do you have items in your cart?</p>
    <span style="line-height: 80px; background-color: mintcream; font-size: 20px; padding: 15px;"><a href="#"
            style="color: teal;">Sign In</a> to view items saved
        to your cart.</span>
    <p style="margin:0 auto; background-color: teal; color: white; width: max-content; padding: 10px 20px 10px 20px;">
        CONTINUE SHOPPING</p>
</div>
<hr style="margin-right: 70px; margin-left: 70px;">

<div style="margin: 100px 70px 100px 70px;">
    <h4>You May Also Like</h4>
    <div style="display: flex; flex-wrap: wrap; justify-content: space-between; margin-left: 20px; margin-right: 20px;">
        <div style="cursor: pointer;">
            <img src="/img/wood.jpg" alt="" style="width: 175px; object-fit: scale-down;">
            <p style="font-weight: 550; color: dimgray; padding-bottom: 50px;">Wood Everett Foyer Table</p>
            <p style="color: indianred;"> $247.49 - $349.99</p>
        </div>
        <div style="cursor: pointer;">
            <img src="/img/ceramic.jpg" alt="" style="width: 175px; object-fit: scale-down;">
            <p style="font-weight: 550; color: dimgray; padding-bottom: 50px;">Ceramaic Sevilla Outdoor Planter
            </p>
            <p style="color: indianred;">$41.99 - $69.99</p>
        </div>
        <div style="cursor: pointer;">
            <img src="/img/sofa.jpg" alt="" style="width: 175px; object-fit: scale-down;">
            <p style="font-weight: 550; color: dimgray; padding-bottom: 50px;">Ivory Feather Filled Brynn Sofa
            </p>
            <p>$1,999.99</p>
        </div>
        <div style="cursor: pointer;">
            <img src="/img/natural.jpg" alt="" style="width: 175px; object-fit: scale-down;">
            <p style="font-weight: 550; color: dimgray; padding-bottom: 50px;">Natural Wood Campaign Desk</p>
            <p>$299.99</p>
        </div>
    </div>
</div>