<div>
    <img src="/img/banner.png" alt="">
</div>

<h2 style="font-size: 40px; text-align: center;">Fresh Fall Updates</h2>

<div
    style="padding-top: 30px; text-align: center; font-size: 22px; display: flex; flex-wrap: wrap; justify-content: space-evenly;">
    <div>
        <img src="/img/throw.jpg" alt="">
        <p>Throw Pillows</p>
    </div>
    <div>
        <img src="/img/rug.jpg" alt="">
        <p>Rugs</p>
    </div>
    <div>
        <img src="/img/wall.jpg" alt="">
        <p>Wall Decor</p>
    </div>
    <div>
        <img src="/img/kitchen.jpg" alt="">
        <p>Kitchen</p>
    </div>

</div>

<div style="text-align: center;">
    <img src="/img/xmas.jpg" alt="">
    <h2 style="font-size: 40px;">A Very Merry Preview</h2>
    <p style="margin-top: -20px; font-size: 24px; font-family: Arial, Helvetica, sans-serif;">Take a Sneak Peek
        at Our New Holiday
        Collection!</p>
    <p
        style="font-size: 16px; background-color: teal; width: fit-content; color: white; padding: 15px; margin: 0 auto; font-weight: 900;">
        SHOP NOW</p>
</div>

<div style="display: flex; flex-wrap: wrap; text-align: center; justify-content: space-between; margin-top: 80px;">
    <div style="width: min-content;">
        <img src="/img/leg.jpg" alt="">
        <h4 style="font-size: 25px;">Introducing Legami</h4>
        <p style="font-size: 18px;">Shop a cool selection of stationery and other fun finds from Italy!</p>
        <a href="#" style="color: teal;"><b>SHOP NOW</b></a>
    </div>
    <div style="width: min-content;">
        <img src="/img/desk.jpg" alt="">
        <h4 style="font-size: 25px;">Deck Out Your Desk</h4>
        <p style="font-size: 18px;">Personalize your workspace with our great selection of office & desk decor
        </p>
        <a href="#" style="color: teal;"><b>READ & SHOP</b></a>
    </div>
    <div style="width: min-content;">
        <img src="/img/pier.jpg" alt="">
        <h4 style="font-size: 25px;">Introducing Pier Place</h4>
        <p style="font-size: 18px;">Discover a selection of Chrismas favorites with a touch of glitz & glamour
        </p>
        <a href="#" style="color: teal;"><b>SHOP NOW</b></a>
    </div>
</div>

<div style="display: flex; flex-wrap: wrap; text-align: center; justify-content: space-between; margin-top: 80px;">
    <div style="width: min-content;">
        <img src="/img/taste.jpg" alt="">
        <h4 style="font-size: 35px; height: 10px;">New Tastes To Try</h4>
        <p style="font-size: 28px; ">From Cocktails to Cake, We've Got Recipes for All Occasions</p>
        <a href="#"
            style="color: white; background-color: teal; padding: 10px; text-decoration: none; font-weight: 900; cursor: pointer;"><b>GET
                RECIPES</b></a>
    </div>
    <div style="width: min-content;">
        <img src="/img/wine.jpg" alt="">
        <h4 style="font-size: 35px; height: 10px;">Wines That Give Back</h4>
        <p style="font-size: 28px; ">Try Delicious Wines from Brands that Support Worthy Causes</p>
        <a href="#"
            style="color: white; background-color: teal; padding: 10px; text-decoration: none; font-weight: 900; cursor: pointer;"><b>GET
                RECIPES</b></a>
    </div>
</div>

<div style="text-align: center; margin-top: 80px;">
    <img src="/img/gallery.jpg" alt="">
    <h4 style="font-size: 40px; font-weight: 900; height: 0px;">Snap.Share. Get Inspired! <span
            style="color: teal;">#WorldMarket</span></h4>
    <p style="font-size: 18px;"><b>Add <span style="color: teal;">#WorldMarket</span> to any photo on Instagram
            for a chance to be
            featured here! </b></p>
    <p
        style="color: white; background-color: teal; font-weight: 900; margin: 0 auto; width: fit-content; padding: 10px 20px 10px 20px;">
        SHOP GALLERY</p>
    <p style="padding: 30px 100px 30px 100px; text-align: left; font-size: 15px;">
        From furniture and accessories, to food and drink, our online assortment never falls short of
        authenticity or affordability. Browse our multicultural home decor pieces, find unique party favors and
        gifts, or simply peruse our diverse collection of specialty goods. Whether luxury or every day, our
        products offer premium quality and craftsmanship from sources all over the world. Buy a seagrass storage
        basket, handmade by artisans in the Philippines. Shop for robust Malbec wine, produced in the foothills
        of Mendoza, Argentina. Discover knick-knacks and objects of interest for sale -- countless styles from
        over fifty countries! Don't forget entertaining essentials, gourmet goodies, festive flair for the
        holiday season, and do-it-yourself crafts for the home design of your dreams. Every room, every theme,
        every season, every day, World Market offers the best furnishings. Eclectic and sophisticated, yet fun
        and fresh, our well-priced assortment keeps the options endless and entirely yours.
    </p>
</div>

<div style="display: flex; flex-wrap: wrap; background-color: gainsboro; justify-content: space-evenly;">
    <ul style="list-style: none; font-size:14px; line-height:25px;">
        <h4>Furniture</h4>
        <li>Dining Room</li>
        <li>Dining Tables</li>
        <li>Dining Chairs</li>
        <li>Living Room</li>
        <li>Sofas</li>
        <li>Chairs</li>
        <li>Home Office</li>
        <li>Bedroom</li>
        <li>Outdoor Furniture</li>
        <li>Custom Furniture</li>
        <li>Mid Century Furniture</li>
        <li>Industrial Furniture</li>
        <li>Farmhouse Furniture</li>
        <li>Entryway Furniture</li>
    </ul>
    <ul style="list-style: none; font-size:14px; line-height:25px;">
        <h4>Decor</h4>
        <li>Pillows & Throws</li>
        <li>Wall Art</li>
        <li>Baskets</li>
        <li>Artisan Gifts</li>
        <li>Lighting</li>
        <li>Mirrors</li>
        <li>Curtains</li>
        <li>Rugs</li>
        <li>Outdoor Rugs</li>
        <li>Candles</li>
        <li>Bedding</li>
        <li>Bathroom</li>
        <li>Decorative Accessories</li>
    </ul>
    <ul style="list-style: none; font-size:14px; line-height:25px;">
        <h4>Dining & Kitchen</h4>
        <li>Dinnerware</li>
        <li>Serverware</li>
        <li>Drinkware</li>
        <li>Flatware</li>
        <li>Table Linens</li>
        <li>Bar</li>
        <li>Cooking</li>
        <li>Baking</li>
        <li>Kitchen Tools</li>
        <li>Kitchen Storage</li>
        <li>Coffee & Tea Accessories</li>
        <li>Entertaining Essentials</li>
        <li>Outdoor Dining</li>
    </ul>
    <ul style="list-style: none; font-size:14px; line-height:25px;">
        <h4>More Finds</h4>
        <li>Food</li>
        <li>Drink</li>
        <li>Coffee</li>
        <li>Tea</li>
        <li>Jewelry & Clothing</li>
        <li>Scarves & Shawls</li>
        <li>Accessories</li>
        <li>Toys & Games</li>
        <li>Gifts</li>
        <li>Gift Cards</li>
        <li>Gift Wrap & Stationery</li>
        <li>Sale</li>
    </ul>
</div>