<hr>

<div style="text-align: center;">
    <h3 style="font-size: 30px;">Inspiration</h3>
    <p style="font-size: 21px; margin-left: 100px; margin-right: 100px;">For entertaining ideas, decorating
        tips, recipes, trends and new collections, we have inspiration for
        every room and occasion.</p>
</div>

<div style="display: flex; background-color: whitesmoke; justify-content: center; align-items: center; 
            border-bottom: 1px solid gray;">
    <div style="display: flex; padding-right: 80px;">
        <img src="/img/ideas.svg" alt="" style="width: 50px;">
        <h6>IDEAS & TIPS</h6>
    </div>
    <div style="display: flex;padding-right: 80px;">
        <img src="/img/shopbyroom.svg" alt="" style="width: 50px;">
        <h6>SHOW BY ROOM</h6>
    </div>
    <div style="display: flex;padding-right: 80px;">
        <img src="/img/recipes.svg" alt="" style="width: 50px;">
        <h6>RECIPES</h6>
    </div>
    <div style="display: flex;padding-right: 80px;">
        <img src="/img/stories.svg" alt="" style="width: 50px;">
        <h6>STORIES</h6>
    </div>
    <div style="display: flex;">
        <img src="/img/collections.svg" alt="" style="width: 50px;">
        <h6>COLLECTIONS</h6>
    </div>
</div>

<div style="display: flex; margin: 50px 20px 50px 20px; gap: 20px;">
    <div style="text-align: center;">
        <img src="/img/south.jpg" alt="" style="width: 550px;">
        <h3>Southern Italy Taste Tour</h3>
        <p style="font-size: 19px;">Discover a selection of delicious food and wine from the Calabrian region!
        </p>
        <a href="#" style="color: teal; font-weight: 600;">READ & SHOP</a>
    </div>
    <div style="text-align: center;">
        <img src="/img/1room.jpg" alt="" style="width: 550px;">
        <h3>1 Room, 3 Rugs</h3>
        <p style="font-size: 19px;">Tie it all together and change the entire vibe of a room with the right rug.
            Take a look!</p>
        <a href="#" style="color: teal; font-weight: 600;">READ & SHOP</a>
    </div>

</div>

<div style="display: flex; margin: 50px 20px 50px 20px; gap: 20px;">
    <div style="text-align: center;">
        <img src="/img/pumpkin.jpg" alt="" style="width: 380px;">
        <h3>Pumpkin For Everyone</h3>
        <p style="font-size: 19px;">If one flavor is all about fall, it's PUMPKIN.</p>
        <a href="#" style="color: teal; font-weight: 600;">SHOP NOW</a>
    </div>
    <div style="text-align: center;">
        <img src="/img/furniture.jpg" alt="" style="width: 380px;">
        <h3>Furniture Buying Guides</h3>
        <p style="font-size: 19px;">Discover our expert tips on furniture selection and more in our Buying
            Guides.</p>
        <a href="#" style="color: teal; font-weight: 600;">LEARN MORE</a>
    </div>
    <div style="text-align: center;">
        <img src="/img/about.jpg" alt="" style="width: 380px;">
        <h3>About Our Sustainable Decor</h3>
        <p style="font-size: 19px;">Learn about our recycled decor and the process of creating it!</p>
        <a href="#" style="color: teal; font-weight: 600;">READ & SHOP</a>
    </div>
</div>

<div style="display: flex; margin: 50px 20px 50px 20px; gap: 20px;">
    <div style="text-align: center;">
        <img src="/img/make.jpg" alt="" style="width: 380px;">
        <h3>Make A Fall Wreath</h3>
        <p style="font-size: 19px;">
            Follow these easy steps to make a gorgeous wreath for your door or wall!</p>
        <a href="#" style="color: teal; font-weight: 600;">READ & SHOP</a>
    </div>
    <div style="text-align: center;">
        <img src="/img/leg.jpg" alt="" style="width: 380px;">
        <h3>Here Now: Legami Collection</h3>
        <p style="font-size: 19px;">Shop the coolest selection of stationery and other fun items from Italy!</p>
        <a href="#" style="color: teal; font-weight: 600;">READ & SHOP</a>
    </div>
    <div style="text-align: center;">
        <img src="/img/kids.jpg" alt="" style="width: 380px;">
        <h3>Kids Collection</h3>
        <p style="font-size: 19px;">Set the little ones up for fun with new arrivals in kids furniture, storage,
            decor and more!</p>
        <a href="#" style="color: teal; font-weight: 600;">SHOP NOW</a>
    </div>
</div>


<div style="text-align: center; margin-top: 80px;">
    <h4 style="font-size: 40px; font-weight: 900; height: 0px;">Snap.Share. Get Inspired! <span
            style="color: teal;">#WorldMarket</span></h4>
    <p style="font-size: 18px;"><b>Add <span style="color: teal;">#WorldMarket</span> to any photo on Instagram
            for a chance to be
            featured here! </b></p>
    <p
        style="color: white; background-color: teal; font-weight: 900; margin: 0 auto; width: fit-content; padding: 10px 20px 10px 20px;">
        SHOP GALLERY</p>
</div>