<div style="margin: 0 auto; width:500px">
    <div style="background-color: mintcream; text-align:center; padding:10px; margin-top:20px; font-weight:550;">
        <p>Did you sign-up via SMS or with an associate in-store?</p>
        <a href="#" style="color: teal;">Complete your profile</a>
    </div>
    <div style="display: flex; justify-content:space-evenly; text-align:center;">
        <h3 style="text-decoration: teal underline; width:max-content;">SIGN IN</h3>
        <h3 style="text-decoration: whitesmoke underline; width:50%;">JOIN</h3>
    </div>
    <form action="#" style="flex-direction: column; display:flex; margin-top:20px">
        <input type="text" placeholder="* Email address" style="padding: 15px; outline:none; font-size:18px">
        <input type="text" placeholder="* Password"
            style="padding: 15px; margin-top:20px; outline:none; font-size:18px">
        <div style="justify-content: space-between; display:flex; font-size:18px; margin-top:20px;">
            <span>
                <input type="checkbox">
                <label for="#"> Keep me signed in.</label>
            </span>
            <a href="#" style="color: teal;">Forgot Password?</a>
        </div>
        <p style="font-size: 12px;">By checking this box you won't have to sign in as often on this device. For your security, we recommend only
            checking this box on your personal devices.</p>
        <button
            style="padding:15px; cursor:pointer; color: white; background-color:teal; font-weight:550; font-size:20px; text-align:center; border:none;">SIGN
            IN</button>
    </form>
</div>